* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  position: fixed;
  top: 50px;
  left: 50px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  z-index: 1;
}
nav .nav_p-2 {
  display: none;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  scroll-snap-align: start;
}

.firstview {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  z-index: 999999;
}
.firstview h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  font-size: 100px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.arrows {
  height: 100px;
  width: 54px;
  overflow: hidden;
  position: relative;
  scale: 3.5;
}
.arrows .arrow_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  position: absolute;
  left: 0;
  animation: arrowAnimation 3s linear infinite;
}
@keyframes arrowAnimation {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: -100%;
  }
}
.arrows .arrow_wrap-2 {
  animation-delay: 1.5s;
}
.arrows .arrow {
  width: 5px;
  height: 60px;
  background: #000;
  position: relative;
}
.arrows .arrow::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 30px;
  background: #000;
  left: -1px;
  bottom: -2px;
  transform-origin: bottom;
  transform: rotate(45deg);
}

.text {
  width: 40%;
  letter-spacing: 0.08em;
  line-height: 1.6;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  width: 150px;
  background: #000;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #000;
}
.btn-2 {
  border-radius: 50px;
}
.btn-2 .btn-circle {
  width: 10px;
  height: 10px;
  position: relative;
  z-index: 2;
}
.btn-2 .btn-circle:before {
  content: "";
  position: absolute;
  backdrop-filter: invert(100%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.5s;
}
.btn-2:hover .btn-circle::before {
  width: 300px;
  height: 300px;
}
.btn-3 {
  border-radius: 0px;
  position: relative;
}
.btn-3 .click-me-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: fit-content;
  padding: 15px;
  top: 0;
  transition: all ease 0.2s;
}
.btn-3:hover .click-me-wrap {
  top: -100%;
}

.cursor {
  z-index: 9999999;
  position: fixed;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color ease 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cursor p {
  font-size: 1px;
  opacity: 0;
  text-transform: uppercase;
}
.cursor-hover {
  width: 70px;
  height: 70px;
  background: none;
  background-color: #fff;
  transition: filter 0.35s, height 0.35s, width 0.35s;
  cursor: pointer;
}
.cursor-hover p {
  font-size: 10px;
  opacity: 1;
  transition: all 0.35s;
}
.cursor-hover2 {
  width: 70px;
  height: 70px;
  background: none;
  -webkit-backdrop-filter: invert(100%);
  backdrop-filter: invert(100%);
  transition: filter 0.35s, height 0.35s, width 0.35s;
  cursor: pointer;
}